body{
    background-color: rgb(167, 119, 213);
    color:antiquewhite;
    margin: 0px;
}

header{
    border-bottom:solid 2px black;
    padding: 32px;
    font-size: 15px;
    color:black;
}
section{

}