body{
    background-color: rgb(167, 119, 213);
    color:antiquewhite;
    margin: 0px;
   font-family: "Playfair Display", serif;
}

header{
    border-bottom:solid 2px black;
    padding: 32px;
    font-size: 32px;
    color:black;
}

section{
    background-color:rgb(85, 131, 217);
    padding-top: 80px;
    padding-bottom: 80x;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}