body{
    background-color: rgb(167, 119, 213);
    color:antiquewhite;
    margin: 0px;
}

header{
    border-bottom:solid 2px black;
    padding: 32px;
    font-size: 15px;
    color:black;
}

section{
    background-color:rgb(85, 131, 217);
    padding-top: 87px;
    padding-bottom: 98px;
    display: flex;
    justify-content: center;
}